@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url(src/car1.jpg) no-repeat;
  background-size : cover;
}

.login{

  width:280px;
  position:absolute;
  top:40%;
  left:48%;
  transform: translate(-40%,-48%);
  color:white;
}

.login h1{

  font-size: 40px;
  border-bottom: 3px solid #ff4500;

  padding:13px 0;
}

.imageLogo{
  position:absolute;
  top:10%;
  left:40%;
  transform: translate(-30%,-50%);
}

.ukLogo{

  position:absolute;
  top:10%;
  left:80%;
  transform: translate(-10%,-80%);
}

.trLogo{
  position:absolute;
  top:10%;
  left:85%;
  transform: translate(-10%,-85%);
}



.textbox{

  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin:8px 0;
  border-bottom: 1px solid #ff4500;
}

.texbox i{
  width: 26px;
  float:left;
  text-align: center;
}

.textbook input{
  border:none;
  outline:none;
  background:none;
  color:white;
  font-size: 18px;
  width: 80px;
  float:left;
  margin: 10px;
}

.btn{
width: 100%;
background: none;
border: 2px solid #ff4500;
color: white;
padding: 5px;

}

.login a1{

  float:right;
  color:white;
}
.login a2{
  padding:5px;
  float:right;
  color:white;
}
